# Python
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Variables de entorno
.env
.env.*

# Datos
comun/datos/brutos/*
comun/datos/procesados/*
!comun/datos/brutos/.gitkeep
!comun/datos/procesados/.gitkeep
data/raw/*
!data/raw/ram/
!data/raw/tarjetas_graficas/
!data/raw/ram/.gitkeep
!data/raw/tarjetas_graficas/.gitkeep
*.csv
*.xlsx

# Archivos temporales
*.log
*.tmp
*.temp
~$*

# Sistema y editores
.DS_Store
Thumbs.db
.vscode/
